body {
  margin: 0;
}

header {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0;
  border-bottom: solid 2px black;
  background-image: url(./dadJokeImages/beer.PNG);
  background-size: 140px;
  background-repeat: repeat;
}

h1 {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Bangers";
  font-size: 80px;
  text-align: center;
  margin: 0;
  text-shadow: red 2px 2px;
  /* background-color: white; */
}

main {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(./dadJokeImages/bricks.PNG);
  background-repeat: repeat;
}

section {
  width: 30vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dad-button {
  background-image: url(./dadJokeImages/buttonImage.jpeg);
  background-size: 400px;
  background-position: center;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.dad-button:hover {
  transform: scale(1.2);
}

.joke-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  text-align: center;
  border-radius: 10px;
}

p {
  margin: 30px;
  font-family: "Courier Prime";
  font-size: 20px;
}

.history-box{
    height: 300px;
    width: 400px;
    background-color: cornsilk;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-y: scroll;
}